<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <p v-if="seen1">现在你看到我了1</p>
        <p v-show="seen2">现在你看到我了2</p>

        <p v-if="score === 100">S</p>
        <p v-else-if="score >= 90">A</p>
        <p v-else-if="score >= 80">B</p>
        <p v-else>X</p>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                seen1: true,
                seen2: true,
                score: 100
            }
        })
    </script>
</body>

</html>